/*General*/
@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600&subset=latin,latin-ext,cyrillic,cyrillic-ext,greek,greek-ext,vietnamese);
html
{
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    /*-webkit-tap-highlight-color: rgba(0, 0, 0, 0);*/
    overflow-y: scroll;
    color: #000;
}
html,
body {
    height: 100%;
    min-height: 100%;
    background-color:#121212;
    margin: 0;
    padding: 0;
}
.mainbody
{
    background-color: #121212;
    color: #fff;
}

/*Scrollbar*/
body::-webkit-scrollbar
{
    width: 10px;
}
body::-webkit-scrollbar-track
{
    background: #171c21;
}
body::-webkit-scrollbar-thumb
{
    background: #eb9b28;
}
input
{
	margin-bottom: 10px;
}
body { margin: 0; }
a { background-color: transparent; }
a:active,
a:hover { outline: 0; }
a {
    color: #2498e3;
    text-decoration: none !important;
    cursor: pointer;
}
a:hover {
    color: #188dd9;
    text-decoration: underline;
}
img {
    box-sizing: border-box;
    border: 0;
    vertical-align: middle;
}

/*SignUp e LogIn*/
.modulo
{
	width: 30%;
	margin: auto;
	margin-top: 70px;
	background-color: #222a32;
	color: white;
	padding: 20px;
	border-radius: 10px;
}
#us
{
	color: green;
	font-size: 20px;
}
#Username,#Sesso,#eMail,#Password
{
	margin-bottom: 20px;
}
.status
{
	color:red;
	text-align:center;
}

/*Parti generali delle pagine (Container, Header, Content e Footer)*/
.page-container {
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
    table-layout: fixed;
}
.page-header-wrapper,
.page-content-wrapper,
.page-footer-wrapper {
    box-sizing: border-box;
    display: table-row;
}
.page-content-wrapper { height: 100%; }
.page-header
{
    height: 60px;
    border-bottom: 1px solid #1c2229;
    background: #222a32;
}
.page-header:before,
.page-header:after {
    display: table;
    content: "";
}
.page-header:after { clear: both; }
.page-content {
    padding: 20px 10px;
    max-width: 960px;
}
.page-footer {
    padding: 5px 10px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    border-top: 1px solid #38444f;
    background: #222a32;
    font-size: 12px;
    line-height: 24px;
}
.page-footer a,
.page-footer a:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}
.page-footer .separator {
    width: 1px;
    display: inline-block;
    height: 12px;
    vertical-align: -2px;
    margin: 0 5px;
    background: rgba(255, 255, 255, 0.6);
}

/*Media*/
@media (max-width: 767px) {
    .page-header-wrapper { height: auto !important; }
}
@media (min-width: 480px) {
    .links > li { width: 33.33%; }
}
@media (min-width: 768px) {
    .page-header-wrapper { height: 60px; }
    .page-header {
        box-sizing: border-box;
        position: fixed;
        z-index: 300;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 60px;
    }
    .page-header,
    .page-content,
    .page-footer {
        padding-right: 20px;
        padding-left: 20px;
    }
    .page-info {
        box-sizing: border-box;
        min-height: 240px;
        padding: 20px 40px 20px 313px;
        border: 1px solid #ccc;
        background: #f2f2f2 url(../img/globe.png) no-repeat;
        background-size: 273px 240px;
    }
    .links > li { width: 33.33%; }
    .product-info-wrapper .col {
        width: 50%;
    }
}


/*Canzone e Artista*/
.canzone, .artista, .album
{
    width:50%;
    border-top:solid white 1px;
    border-bottom:solid white 1px;
    white-space: nowrap;
    
}
.canzone > div, .artista > div, .album > div
{
    display: inline-block;
    padding:5px;
    font-size:16px;
    
}
.canzonetitolo, .albumnome, .albumNome_Artista
{
    font-weight:bold;
    font-size:20px !important;
}
.canzoneanno:before, .albumanno:before, .albumNome_Artista:before
{
    content:"-\00a0";
}
.canzoneaudio
{
    word-break:break-all;
    white-space: pre-wrap;
}
.canzonealbumcover
{
    width: 150px;
    height: 150px;
    margin:25px;
}

.canzoneNome_Artista, .canzoneNome_Album
{
    font-weight: bold;
}

.canzonegenere, .canzoneanno, .canzoneNome_Artista, .canzoneNome_Album
{
    color:#A9A9A9;
}

/*Dropdown e User*/
.dropdown-content 
{
    display: none;
    float: right;
    position: absolute;
    background-color: #121212;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a:hover 
{
    background-color: #eb9b28;
    color: #fff
}
.User 
{
    float:right;
}
.show 
{
    display: block;
}
.dropbtn
{
    height: 50px;
    width: 50px;
    margin-top: 5px;
}
.dropdown-content a 
{
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.usernameDisplay
{
    float:left;
    font-weight:bold;
    color: white/*#1B645B*/;
    font-size:25px;
    margin-right:10px;
    margin-top: 10px;
}
.loginAlert
{
    float:left;
    font-weight:bold;
    font-size:20px;
    margin-right:10px;
    margin-top: 15px;
}
.loginAlert > a
{
    color: white/*#1B645B*/;
}
.loginAlert > a:hover
{
    text-decoration: none !important;
    color: #eb9b28;
}

.TitleIcon
{
    width: 200px;
    height: 50px;
    margin-top: 5px;
}

/*Admin*/
.adminLogo
{
    width:50px;
    height:50px;
}
.adminButtons > img
{
    width:50px;
    height:50px;
    margin: 2px;
}

.canzone > .adminButtons > img
{
    width:50px;
    height:50px;
    margin: 2px;
    margin-bottom:45px;
}

.album > .adminButtons > img
{
    width:50px;
    height:50px;
    margin: 2px;
}

.adminButtons > img:hover
{
    cursor: pointer;
}
.addBtn
{
    width: 75px;
    height: 75px;
    margin-left:200px;
    margin-top:15px;
}
.addBtn:hover
{
    cursor: pointer;
}

#addSongPanel, #addAlbumPanel
{
    width:500px;
    margin-left:0px;
    margin-top:20px;
    display: none;
}

#AlbEnterNome, #CanEnterAlbum
{
    margin-top:20px;
}

.add-btn
{
    margin-top: 10px;
}
#EnterAlbum
{
    margin-top: 10px;
}
#addSongPanel
{
    display: none;
}

/*Controllo mail*/
#attEmail
{
	width: 30%;
	margin: auto;
	margin-top: 70px;
	background-color: #222a32;
	color: white;
	padding: 20px;
	border-radius: 10px;
}
#check
{
	width: 30%;
	margin: auto;
	margin-top: 70px;
	background-color: #222a32;
	color: white;
	padding: 20px;
	border-radius: 10px;
}
#error
{
	color:red;
	text-align:center;
}